<div class="navbar span4 offset4">
    <ul class="nav">
        <li>@Html.ActionLink("Admin", "Index", "Admin", new { area = "Administration" }, null)</li>
        <li>@Html.ActionLink("Master Admin", "Index", "Administrator", new { area = "Administration" }, null)</li>
    </ul>
</div>
