body,
div,
aside,
ul,
li,
a {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-size: 16px;
}
body #wrapper {
  width: 960px;
}
body #wrapper aside ul {
  margin: 10px 20px;
  border-radius: 10px;
  padding: 5px 15px;
  list-style-type: none;
  width: 180px;
  font-size: 1.3em;
}
body #wrapper aside ul li {
  position: relative;
}
body #wrapper aside ul li ul {
  padding: 5px 15px;
  position: absolute;
  top: 0;
  margin-top: -5px;
  margin-left: 170px;
  display: none;
  background-color:#b5aaff;
  width: 200px;
  font-size: 0.8em;
}
body #wrapper aside ul li:hover ul {
  display: inline-block;
  background-color: #b5aaff;
}
body #wrapper aside > ul {
  background: #d29bff;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyOWJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDdjY2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjODk3N2ZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, #d29bff 0%, #8977ff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d29bff), color-stop(100%, #207cca), color-stop(100%, #8977ff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #d29bff 0%,  #8977ff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #d29bff 0%, #207cca 100%, #8977ff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #d29bff 0%, #207cca 100%, #8977ff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #d29bff 0%, #207cca 100%, #8977ff 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29bff', endColorstr='#8977ff', GradientType=0);
  /* IE6-8 */

}
li {
  border-bottom: 1px solid #9D00FF;
  padding: 5px 15px;
}
li:last-of-type {
  border-bottom: none;
}
li:hover {
  border: 1px solid #9D00FF;
  //border-bottom: none;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: black;
}
